<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807181497804-ur3i13fjh293bu1rc34sp5vl51fdsrg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807181497804-ur3i13fjh293bu1rc34sp5vl51fdsrg4</string>
	<key>API_KEY</key>
	<string>AIzaSyA9thy4s6Xu_PtWFyR8iWfkIvOM4G4AaRU</string>
	<key>GCM_SENDER_ID</key>
	<string>807181497804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.utexas.dwp673.TasteBuds</string>
	<key>PROJECT_ID</key>
	<string>tastebuds-e0098</string>
	<key>STORAGE_BUCKET</key>
	<string>tastebuds-e0098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807181497804:ios:8874e3eb49ce8ebc</string>
	<key>DATABASE_URL</key>
	<string>https://tastebuds-e0098.firebaseio.com</string>
</dict>
</plist>